/*A Peek Under the hood*/

body {
    background-color:#d1cecd;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}

header{
    width: 100%;
    padding: 0 10px;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: black;
    color: #b8a8a4;
}
header p{
    font-weight: 700;

}
nav {
    justify-content: space-evenly;
}
nav >ul >li  {
    display:inline;
    text-align: center;
    

}

nav{
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: #d1cecd;
    
}


a:hover {
    color:#b8a8a4;
    text-decoration:underline;
    font-weight:700;
}

section{
    width:100%;
    justify-content: center;
    margin-top: 20px;

}

section > label {
    display: block;
    text-align: left;
    background-color: black;
    width: 100%;
    padding:5px;
    color: white;
}

label{
    display: block;
    width: 100%;
}

input {
    display: block;
    width: 100%;
}

#code-displays{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width:60%;
    max-height: 400px;
    justify-content: center;
    margin:10px  auto;
}
#code-displays > label {
    text-align: center;
    width:100%;
    max-height: 20px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

form{
    width: 100%;
    max-width:400px;
    margin: 0 auto;
}
