body {
    background-color:#d1cecd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    width: auto;
    padding: 0 10px;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: black;
    color: #b8a8a4;
}
nav {
    justify-content: space-evenly;
}
nav >ul >li  {
    display:inline;
    text-align: center;
    

}

nav{
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: #d1cecd;
    
}


a:hover {
    color:#b8a8a4;
    text-decoration:underline;
    font-weight:800;
}