body {
    background-color:#d1cecd;
    
}

header{
    width: auto;
    padding: 0 10px;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: black;
    color: #b8a8a4;
}

nav >ul >li  {
    display:inline;
}

nav a{
    text-decoration: none;
}

a:hover {
    color: #d1cecd;
    text-decoration:underline;
}